{
  parser: "babel-eslint",
  "extends": [
    "react-app",
    "airbnb-base"
  ],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "import/no-named-default": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-else-return": "off",
    "no-unused-expressions": ["error", {"allowTernary": true}],
    "semi": [2, "never"]
  }
}
