.grid-container {
  display: grid;
  grid-template-columns: 5rem auto auto auto auto;
}

.page-title {
  display: inline-block;
  font-size: 5rem;
  padding-top: 1rem;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  margin: 0;
}

.col-1, .col-2, .col-3, .col-4 {
  position: relative;
  z-index : 1;
  padding: 0 32px;
}

.col-2:before, .col-3:before, .col-4:before {
  border-left: 1px solid white;
  bottom : 0;
  content : "";
  height : 80%;
  left : 0;
  position: absolute;
  top: 10%;
  width : 1px;
}
