.grid-container {
  display: grid;
  grid-template-columns: 7rem repeat(4, 1fr);
}

.page-title {
  display: inline-block;
  font-size: 5rem;
  padding: 1rem;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  margin: 0;
}

.col-1, .col-2, .col-3, .col-4 {
  padding: 0 32px;
}

.col-1 {
  padding-left: 0;
}
