.line-info {
  padding-left: 12px;
  border-width: 0 0 0 12px;
  border-style: solid;
}

#bakerloo {
  border-color: rgb(178,99,0);
}

#central {
  border-color: rgb(220,36,31);
}

#circle {
  border-color: rgb(255,211,41);
}

#district {
  border-color: rgb(0,125,50);
}

#hammersmith-city {
  border-color:  rgb(244,169,190);
}

#jubilee {
  border-color: rgb(161,165,167);
}

#metropolitan {
  border-color: rgb(155,0,88);
}

#northern {
  border-color: rgb(0,0,0);
}

#piccadilly {
  border-color: rgb(0,25,168);
}

#victoria {
  border-color: rgb(0,152,216);
}

#waterloo-city {
  border-color: rgb(147,206,186);
}

#dlr {
  border-color: rgb(0,175,173);
}

#london-overground {
  border-color: rgb(239,123,16);
}

#tfl-rail {
  border-color: rgb(0,25,168);
}