.error-overlay-container {
  position: relative;
}

.error {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -1rem;
  margin-left: -32px;
  font-size: 0.8rem;
}

.blur {
  -webkit-animation: blur 0.25s linear forwards;
     -moz-animation: blur 0.25s linear forwards;
       -o-animation: blur 0.25s linear forwards;
          animation: blur 0.25s linear forwards;
}

@-webkit-keyframes blur { to { filter: blur(5px); } }
   @-moz-keyframes blur { to { filter: blur(5px); } }
        @keyframes blur { to { filter: blur(5px); } }

.clear {
  -webkit-animation-delay: 0.5s;
     -moz-animation-delay: 0.5s;
       -o-animation-delay: 0.5s;
          animation-delay: 0.5s;

  -webkit-animation: 0.25s linear forwards reveal;
   -moz-animation: 0.25s linear forwards reveal;
     -o-animation: 0.25s linear forwards reveal;
        animation: 0.25s linear forwards reveal;
}

@-webkit-keyframes reveal { from { filter: blur(5px); } to { filter: blur(0px); }  }
   @-moz-keyframes reveal { from { filter: blur(5px); } to { filter: blur(0px); }  }
     @-o-keyframes reveal { from { filter: blur(5px); } to { filter: blur(0px); }  }
        @keyframes reveal { from { filter: blur(5px); } to { filter: blur(0px); }  }
