@import 'grid';
@import 'loading';
@import 'variables';

@font-face{
    font-family: 'DIN Round Pro Thin';
    src: url('../fonts/DINRoundPro-Thin.woff') format('woff'),
         url('../fonts/DINRoundPro-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'DIN Round Pro Thin', sans-serif;
  width: 1920px;
  height: 1080px;
  margin: 0;
  outline: 1px solid white;
  font-size: 1.1rem;
  color: #fff;
  background-color: #361163;
}

/* Spinner */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner {
  content: '';
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  border-top-color: #ED2482;
  animation: spinner .6s linear infinite;
}

.spinner-invisible {
  height: 16px;
  width: 16px;
  content: '';
}


/* GLOBAL STYLES */
%board-container-shared {
  padding: $box-padding;
  margin: $box-margin 0;
}

.board-container {
  @extend %board-container-shared;

  color: $primary;
  background-color: $light-grey;
  border-radius: $border-radius;
}

.board-container-transparent {
  @extend %board-container-shared;

  background: none;
  border: none;
}

h3.board-header {
  font-size: 1.2rem;
  margin: 0;
}

.subheading {
  font-size: 0.9rem;
}

.attribution {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.board-footer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-contents: center;
  justify-content: space-between;
}