@import 'grid';
@import 'background';

@font-face{
    font-family: 'DIN Round Pro Thin';
    src: url('../fonts/DINRoundPro-Thin.woff') format('woff'),
         url('../fonts/DINRoundPro-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'DIN Round Pro Thin', sans-serif;
  width: 1920px;
  height: 1080px;
  margin: 0;
  outline: 1px solid white;
  font-size: 1.1rem;
  color: #fff;
  background: linear-gradient(-45deg, #6F3092, #361163, #B70062, #ED2482);
  background-size: 400% 400%;
  -webkit-animation: Gradient 120s ease infinite;
  -moz-animation: Gradient 120s ease infinite;
  animation: Gradient 120s ease infinite;
}

/* GLOBAL STYLES */
.subheading {
  font-size: 0.9rem;
}

.attribution {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.error-overlay-container {
  position: relative;
}

.error {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -1rem;
  margin-left: -32px;
  font-size: 0.8rem;
}