// Measurements
$border-radius: 6px;

$box-padding: 8px;
$box-margin: 8px;
$text-margin: 8px;

// Text
$font-size-sm: 0.9rem;

// Colours
$primary: rgb(45, 48, 57);
$error: rgb(205, 28, 49);
$light-grey: rgb(247, 247, 247);

$lu-blue: rgb(0,25,168);

$tfl-bus: rgb(220, 36, 31);
