@import '../../styles/variables.scss';

%no-margin-padding {
  padding: 0;
  margin: 0;
}

%service-text {
  font-size: $font-size-sm;
}

.train-departure-container {
  margin: $box-margin 0;
  padding: $box-padding;

  background-color: $light-grey;
  border-radius: $border-radius;
  color: $primary;
}

.service-info-container {
  display: flex;
  flex-wrap: nowrap;
}

.service-std {
  @extend %no-margin-padding;
  @extend %service-text;

  margin-right: $text-margin;
}

.service-destination {
  @extend %no-margin-padding;

  margin-bottom: $text-margin;
  font-size: 1.2rem;
}

.service-platform {
  @extend %no-margin-padding;

  font-size: $font-size-sm;
}

.service-etd-status {
  @extend %no-margin-padding;
  @extend %service-text;

  margin-right: $text-margin;
  color: $error;
}
